#Ignore Visual Studio Code settings
.vscode/

#Ignore build output and intermediate files
bin/
obj/
platforms/

#Ignore user-specific files
*.user
*.Studio
*.userosscache
*.sln.docstates

#Ignore logs and temporary files
*.logs
*.temporary

#Ignore MacOs system files
.DS Store
